body {
  background-image: url("https://lockeanddemosthenes.github.io/rpg-au/img/wood-pattern.png");
  background-repeat: repeat;
  background-color: #99664e;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.selection img {
    filter: grayscale(100%);
    width: 300px;
}

.selection img:hover {
    filter: grayscale(0%);
}

.stats img {
    position: sticky;
    top: 15px;
}
